<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15672070886-45ccoterpt1lu0bn8gj3fmjb2k8cfgnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15672070886-45ccoterpt1lu0bn8gj3fmjb2k8cfgnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>15672070886-vujf2apicakfh68m0pjs91q18k5k0u63.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeAGa_JWJRpZBV70ChNJIoyEJzbCdtIhU</string>
	<key>GCM_SENDER_ID</key>
	<string>15672070886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myccaa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>clinicease-af5a4</string>
	<key>STORAGE_BUCKET</key>
	<string>clinicease-af5a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15672070886:ios:929f561fd1cae32555a127</string>
</dict>
</plist>